[submodule "/Users/ibrahimharoon/Documents/Personal_Projects/Swift/Velocity/Velocity/Other/AI_model"]
	path = /Users/ibrahimharoon/Documents/Personal_Projects/Swift/Velocity/Velocity/Other/AI_model
	url = https://github.com/Ibrahim-Haroon/Velocity_AI_Model.git
