[submodule "Velocity/Velocity/Other/AI_model"]
	path = Velocity/Velocity/Other/AI_model
	url = https://github.com/Ibrahim-Haroon/Velocity_AI_Model.git
[submodule "Velocity/Other/AI_model"]
	path = Velocity/Other/AI_model
	url = https://github.com/Ibrahim-Haroon/Velocity_AI_Model.git
